* {
    font-family: 'Fira Code', monospace;
}

body {
    margin: 0;
    background-image: url("../img/metalBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-size: 150%;
}

main {
    margin: auto;
}

h1 {
    display: table;
    margin: 1rem auto;
    padding: 1rem;
    background-color: grey;
    border: 10px outset gray;
    font-size: 7vh;
    font-weight: bold;
    color: rgb(80, 80, 80);
    text-shadow: 0 -3px 1px #666666, 0 3px 1px #ffffff;
}

article.game {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(7, 6rem);
    width: 18rem;
    margin: 5rem auto 1rem auto;
    padding: 1rem 5rem;
    background: url("../img/panelbg.jpg");
    background-color: #b3b3b5;
    border: 1rem outset #929292;
    border-image: url("../img/panelbg.jpg") 30 round;
    border-radius: 20px;
    background-blend-mode: hard-light;
}

article.game button {
    color: rgb(61, 69, 78);
    font-size: 5vh;
    text-shadow: 0 -1px 1px #66666671, 0 1px 1px #ffffff86;
    background-color: #868688;
    border-radius: 10px;
    border-width: 3px;
    margin: 0.2rem;
    outline: none;
    background: rgb(77,77,77);
    background: radial-gradient(circle, rgba(77,77,77,1) 0%, rgba(120,120,120,1) 100%); 
}

article.game button:hover, .js-hover {
    color: aqua !important;
    text-shadow: 0 0 5px aqua, 0 0 10px aqua !important;
}

article.game div {
    color: rgb(96, 192, 0);
    text-align: center;
    line-height: 5.5rem;
    vertical-align: middle;
    background-color: rgb(23, 41, 0);
    margin: 0.1rem;
    border: 2px inset rgb(128, 138, 148);
    text-shadow: 0 0 10px greenyellow, 0 0 30px green;
}

#numberField {
    grid-column: 1/4;
    grid-row: 1/2;

    font-size: 3vh;
}
#one {
    grid-column: 1/2;
    grid-row: 2/3;
}
#two {
    grid-column: 2/3;
    grid-row: 2/3;
}
#three {
    grid-column: 3/4;
    grid-row: 2/3;
}
#four {
    grid-column: 1/2;
    grid-row: 3/4;
}
#five {
    grid-column: 2/3;
    grid-row: 3/4;
}
#six {
    grid-column: 3/4;
    grid-row: 3/4;
}
#seven {
    grid-column: 1/2;
    grid-row: 4/5;
}
#eight {
    grid-column: 2/3;
    grid-row: 4/5;
}
#nine {
    grid-column: 3/4;
    grid-row: 4/5;
}
#hash {
    grid-column: 1/2;
    grid-row: 5/6;
}
#zero {
    grid-column: 2/3;
    grid-row: 5/6;
}
#enter {
    grid-column: 3/4;
    grid-row: 5/6;
}
#output {
    grid-column: 1/4;
    grid-row: 6/8;

    line-height: 3rem;
    vertical-align: middle;
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(4,25%);
}

#output > span {
    font-size: 1.2vh;
    border: 1px solid rgb(0, 44, 0);
    box-shadow: 0 0 5px rgba(172, 255, 47, 0.363);
}

#loose {
    display: none;
    width: 150%;
    position: absolute;
    font-size: 7vh;
    font-weight: 700;
    top: 40vh;
    left: -20%;
    text-align: center;
    color: black;
    transform: rotate(-15deg);
    background: url("../img/alarmBG.jpg");
    background-size: contain;
    box-shadow: 0 0 10px black, 0 0 30px black, 0 0 60px black;
}

button:disabled {
    border-style: inset;
    background-color: rgb(0, 0, 0);
}

.desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 10%;
    text-shadow: 0 -1px 1px #666666, 0 1px 1px #ffffff;
}

.desc > dl {
    padding: 1rem;
    background-color: #b3b3b5;
    border: 1rem outset #929292;
    border-radius: 20px;
    line-height: 1.5rem;
    width: 30rem;
}

.desc dt {
    font-size: 120%;
    font-weight: 700;
}

.desc dd {
    border: 1px solid rgba(0, 0, 0, 0.418)
}

.green {
    color:rgb(96, 192, 0); 
    text-shadow: 0 0 10px greenyellow, 0 0 30px green;
}
.red {
    color:red; 
    text-shadow: 0 0 10px red, 0 0 30px red;
}
.yellow {
    color:yellow; 
    text-shadow: 0 0 10px yellow, 0 0 30px yellow;
}

button.glow {
    box-shadow: 0 0 5px green, 0 0 10px green;
    background: none !important;
    background-color: green !important;
}